In [256]:
# 이 프로젝트는 [Kaggle Groceries Dataset](https://www.kaggle.com/datasets/heeraldedhia/groceries-dataset) (GPL v2 라이선스) 기반으로 분석되었습니다.
# 이 분석 결과 및 파생 데이터/코드는 GPL v2 라이선스의 조건을 따릅니다.

In [257]:
import pandas as pd
import os 

base_dir = os.path.abspath(os.path.dirname(os.path.join(os.getcwd(), "Association_Rules_Groceries.ipynb")))
file_path = os.path.join(base_dir, "..", "data", "Groceries_dataset.csv")
df = pd.read_csv(file_path)
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [258]:
# Date 컬럼을 datetime 형식으로 변환 ( '21-07-2015' = '%d-%m-%Y')
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

# 연도, 월, 일, 요일 컬럼 추가
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day
df['Weekday'] = df['Date'].dt.day_name()   # (ex. Monday, Tuesday)

df.head()

   Member_number       Date   itemDescription  Year  Month  Day   Weekday
0           1808 2015-07-21    tropical fruit  2015      7   21   Tuesday
1           2552 2015-01-05        whole milk  2015      1    5    Monday
2           2300 2015-09-19         pip fruit  2015      9   19  Saturday
3           1187 2015-12-12  other vegetables  2015     12   12  Saturday
4           3037 2015-02-01        whole milk  2015      2    1    Sunday

In [259]:
# 계절(Season) 컬럼 추가 함수

def get_season(month):
    if month in [3, 4, 5]:
        return 'Spring'
    elif month in [6, 7, 8]:
        return 'Summer'
    elif month in [9, 10, 11]:
        return 'Autumn'
    elif month in [12, 1, 2]:
        return 'Winter'


df['Season'] = df['Month'].apply(get_season)

df.head()

,Member_number,Date,itemDescription,Year,Month,Day,Weekday,Season
0,1808,2015-07-21,tropical fruit,2015,7,21,Tuesday,Summer
1,2552,2015-01-05,whole milk,2015,1,5,Monday,Winter
2,2300,2015-09-19,pip fruit,2015,9,19,Saturday,Autumn
3,1187,2015-12-12,other vegetables,2015,12,12,Saturday,Winter
4,3037,2015-02-01,whole milk,2015,2,1,Sunday,Winter

In [260]:
df['YearMonth'] = df['Date'].dt.to_period('M')
df['WeekOfYear'] = df['Date'].dt.isocalendar().week
df['Quarter'] = df['Date'].dt.quarter
df['IsMonthStart'] = df['Date'].dt.is_month_start
df['IsMonthEnd'] = df['Date'].dt.is_month_end
df['IsWeekend'] = df['Date'].dt.weekday >= 5
df['DayOfYear'] = df['Date'].dt.dayofyear

df.head()

,Member_number,Date,itemDescription,Year,Month,Day,Weekday,Season,YearMonth,WeekOfYear,Quarter,IsMonthStart,IsMonthEnd,IsWeekend,DayOfYear
0,1808,2015-07-21,tropical fruit,2015,7,21,Tuesday,Summer,2015-07,30,3,False,False,False,202
1,2552,2015-01-05,whole milk,2015,1,5,Monday,Winter,2015-01,2,1,False,False,False,5
2,2300,2015-09-19,pip fruit,2015,9,19,Saturday,Autumn,2015-09,38,3,False,False,True,262
3,1187,2015-12-12,other vegetables,2015,12,12,Saturday,Winter,2015-12,50,4,False,False,True,346
4,3037,2015-02-01,whole milk,2015,2,1,Sunday,Winter,2015-02,5,1,True,False,True,32

In [261]:
years = df['Date'].dt.year.unique()
print(years)

[2015 2014]

In [262]:
# 데이터 셋을 올린 Heeral Dedhia 가 인도사람이기에 인도의 holiday로 가정

import pandas as pd
import holidays

# 날짜 파싱
df['Date'] = pd.to_datetime(df['Date'], format='%d-%m-%Y')

# 인도 공휴일 객체 만들기 (2014, 2015년만)
indian_holidays = holidays.India(years=[2014, 2015])

# 휴일 여부 플래그 생성
df['IsHoliday'] = df['Date'].isin(indian_holidays)

# 결과 확인
print(df[['Date', 'IsHoliday']].head())

        Date  IsHoliday
0 2015-07-21      False
1 2015-01-05      False
2 2015-09-19      False
3 2015-12-12      False
4 2015-02-01      False

C:\Users\user\AppData\Local\Temp\ipykernel_3236\305225185.py:13: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.
  df['IsHoliday'] = df['Date'].isin(indian_holidays)

In [263]:
df = df.sort_values(['Member_number', 'Date'])
df['PrevPurchaseDelta'] = df.groupby('Member_number')['Date'].diff().dt.days

df.head()

,Member_number,Date,itemDescription,Year,Month,Day,Weekday,Season,YearMonth,WeekOfYear,Quarter,IsMonthStart,IsMonthEnd,IsWeekend,DayOfYear,IsHoliday,PrevPurchaseDelta
13331,1000,2014-06-24,whole milk,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,NaN
29480,1000,2014-06-24,pastry,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,0.0
32851,1000,2014-06-24,salty snack,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,0.0
4843,1000,2015-03-15,sausage,2015,3,15,Sunday,Spring,2015-03,11,1,False,False,True,74,False,264.0
8395,1000,2015-03-15,whole milk,2015,3,15,Sunday,Spring,2015-03,11,1,False,False,True,74,False,0.0

In [264]:
n_unique = df['itemDescription'].nunique()
print(f"itemDescription의 유니크 개수: {n_unique}")

itemDescription의 유니크 개수: 167

In [265]:
unique_items = df['itemDescription'].unique().tolist()
print(unique_items)

['whole milk', 'pastry', 'salty snack', 'sausage', 'semi-finished bread', 'yogurt', 'soda', 'pickled vegetables', 'canned beer', 'misc. beverages', 'hygiene articles', 'rolls/buns', 'frankfurter', 'whipped/sour cream', 'beef', 'white bread', 'curd', 'frozen vegetables', 'other vegetables', 'butter', 'tropical fruit', 'sugar', 'butter milk', 'specialty chocolate', 'frozen meals', 'dental care', 'root vegetables', 'detergent', 'pip fruit', 'dish cleaner', 'cling film/bags', 'red/blush wine', 'chocolate', 'frozen fish', 'shopping bags', 'packaged fruit/vegetables', 'margarine', 'rice', 'bottled water', 'softener', 'skin care', 'chicken', 'flour', 'bottled beer', 'domestic eggs', 'white wine', 'photo/film', 'hamburger meat', 'liquor (appetizer)', 'liver loaf', 'dessert', 'canned fish', 'cocoa drinks', 'ketchup', 'herbs', 'newspapers', 'coffee', 'UHT-milk', 'kitchen towels', 'sliced cheese', 'specialty bar', 'candles', 'citrus fruit', 'candy', 'curd cheese', 'grapes', 'brown bread', 'processed cheese', 'onions', 'hard cheese', 'napkins', 'mustard', 'mayonnaise', 'meat', 'roll products ', 'cookware', 'fruit/vegetable juice', 'soft cheese', 'oil', 'pet care', 'beverages', 'berries', 'cake bar', 'long life bakery product', 'spices', 'liquor', 'baking powder', 'male cosmetics', 'fish', 'ham', 'cream cheese ', 'salt', 'pork', 'flower (seeds)', 'ice cream', 'pot plants', 'snack products', 'waffles', 'cat food', 'vinegar', 'chewing gum', 'Instant food products', 'pasta', 'prosecco', 'chocolate marshmallow', 'sweet spreads', 'condensed milk', 'house keeping products', 'dishes', 'popcorn', 'female sanitary products', 'dog food', 'meat spreads', 'spread cheese', 'sauces', 'frozen fruits', 'rum', 'finished products', 'instant coffee', 'artif. sweetener', 'bathroom cleaner', 'jam', 'whisky', 'pudding powder', 'sparkling wine', 'tea', 'cream', 'specialty fat', 'frozen potato products', 'specialty cheese', 'turkey', 'canned vegetables', 'zwieback', 'hair spray', 'nut snack', 'soups', 'cereals', 'seasonal products', 'ready soups', 'brandy', 'light bulbs', 'cleaner', 'syrup', 'canned fruit', 'honey', 'cooking chocolate', 'abrasive cleaner', 'liqueur', 'frozen dessert', 'organic sausage', 'flower soil/fertilizer', 'tidbits', 'make up remover', 'potato products', 'bags', 'preservation products', 'baby cosmetics', 'nuts/prunes', 'soap', 'decalcifier', 'kitchen utensil', 'organic products', 'frozen chicken', 'salad dressing', 'specialty vegetables', 'toilet cleaner', 'rubbing alcohol']

In [266]:
def map_category(item):
    item = item.lower().strip()
    if any(x in item for x in ['milk', 'cheese', 'cream', 'butter', 'yogurt', 'curd']):
        return 'Dairy'
    elif any(x in item for x in ['bread', 'roll', 'cake', 'waffle', 'bakery', 'zwieback']):
        return 'Bakery'
    elif any(x in item for x in ['beef', 'pork', 'chicken', 'sausage', 'ham', 'turkey', 'meat', 'liver loaf', 'liver', 'frankfurter']):
        return 'Meat'
    elif any(x in item for x in ['fruit', 'vegetable', 'onion', 'herbs', 'grapes', 'berries', 'potato', 'citrus']):
        return 'Produce'
    elif any(x in item for x in ['fish', 'canned fish']):
        return 'Fish'
    elif any(x in item for x in ['beer', 'wine', 'liquor', 'whisky', 'brandy', 'prosecco', 'rum', 'liqueur', 'cocoa', 'soda', 'beverages', 'juice']):
        return 'Drinks'
    elif any(x in item for x in ['dog food', 'cat food', 'pet care']):
        return 'Pet'
    elif any(x in item for x in ['snack', 'candy', 'chocolate', 'waffle', 'cake bar', 'nut']):
        return 'Snacks'
    elif any(x in item for x in ['egg']):
        return 'Eggs'
    elif any(x in item for x in ['rice', 'pasta', 'noodle', 'cereal']):
        return 'Staples'
    elif any(x in item for x in ['oil', 'vinegar', 'mustard', 'mayonnaise', 'sauce', 'ketchup']):
        return 'Condiments'
    elif any(x in item for x in ['detergent', 'cleaner', 'softener', 'house keeping', 'bathroom cleaner', 'toilet cleaner', 'abrasive']):
        return 'Household'
    elif any(x in item for x in ['make up', 'cosmetic', 'decalcifier', 'skin care', 'hygiene', 'soap', 'napkin']):
        return 'PersonalCare'
    elif any(x in item for x in ['flower', 'plant', 'soil', 'pot']):
        return 'Flowers'
    elif any(x in item for x in ['shopping bags', 'bags']):
        return 'Bag'
    elif any(x in item for x in ['pastry', 'dessert', 'sweet', 'jam', 'pudding', 'soups', 'soup', 'popcorn', 'honey', 'instant', 'frozen dessert']):
        return 'ProcessedFood'
    elif any(x in item for x in ['dental care', 'female sanitary', 'hair spray', 'kitchen towels', 'kitchen utensil']):
        return 'PersonalCare'
    elif any(x in item for x in ['photo', 'film', 'light bulb']):
        return 'Household'
    elif any(x in item for x in ['candles']):
        return 'Household'
    elif any(x in item for x in ['newspapers']):
        return 'Media'
    elif any(x in item for x in ['cookware', 'dishes', 'preservation products']):
        return 'Kitchenware'
    elif any(x in item for x in ['artif. sweetener', 'baking powder', 'spices', 'salt']):
        return 'SpicesCondiments'
    elif any(x in item for x in ['organic products']):
        return 'Organic'
    elif any(x in item for x in ['salad dressing']):
        return 'Condiments'
    elif any(x in item for x in ['rubbing alcohol']):
        return 'Medicine'
    elif item in ['sugar', 'flour', 'syrup']:
        return 'Baking'
    elif item in ['frozen meals', 'finished products']:
        return 'ProcessedFood'
    elif item in ['margarine', 'specialty fat']:
        return 'Dairy'
    elif item in ['bottled water', 'coffee', 'tea']:
        return 'Drinks'
    elif item in ['specialty bar', 'chewing gum', 'tidbits']:
        return 'Snacks'
    elif item in ['seasonal products']:
        return 'Seasonal'
    else:
        return 'Other'

In [267]:
df['ItemCategory'] = df['itemDescription'].apply(map_category)
print(df['ItemCategory'].value_counts())
print(df[df['ItemCategory']=='Other']['itemDescription'].unique())

ItemCategory
Dairy               8301
Produce             7993
Drinks              5514
Meat                4037
Bakery              3575
ProcessedFood       1943
Snacks              1669
Bag                  809
PersonalCare         750
Media                596
Eggs                 566
Condiments           546
Household            533
Baking               432
Pet                  329
SpicesCondiments     251
Fish                 247
Staples              212
Flowers              188
Kitchenware          153
Seasonal             106
Organic               10
Medicine               5
Name: count, dtype: int64
[]

In [268]:
df['ItemCategory'] = df['itemDescription'].apply(map_category)

In [269]:
print(df[['itemDescription', 'ItemCategory']].head(20))
print(df['ItemCategory'].value_counts())

           itemDescription   ItemCategory
13331           whole milk          Dairy
29480               pastry  ProcessedFood
32851          salty snack         Snacks
4843               sausage           Meat
8395            whole milk          Dairy
20992  semi-finished bread         Bakery
24544               yogurt          Dairy
1629                  soda         Drinks
17778   pickled vegetables        Produce
2047           canned beer         Drinks
18196      misc. beverages         Drinks
6388               sausage           Meat
22537     hygiene articles   PersonalCare
9391               sausage           Meat
25540           whole milk          Dairy
32727           rolls/buns         Bakery
11046           whole milk          Dairy
27195                 soda         Drinks
364            frankfurter           Meat
16513                 soda         Drinks
ItemCategory
Dairy               8301
Produce             7993
Drinks              5514
Meat                4037
Bakery              3575
ProcessedFood       1943
Snacks              1669
Bag                  809
PersonalCare         750
Media                596
Eggs                 566
Condiments           546
Household            533
Baking               432
Pet                  329
SpicesCondiments     251
Fish                 247
Staples              212
Flowers              188
Kitchenware          153
Seasonal             106
Organic               10
Medicine               5
Name: count, dtype: int64

In [270]:
df.head()

,Member_number,Date,itemDescription,Year,Month,Day,Weekday,Season,YearMonth,WeekOfYear,Quarter,IsMonthStart,IsMonthEnd,IsWeekend,DayOfYear,IsHoliday,PrevPurchaseDelta,ItemCategory
13331,1000,2014-06-24,whole milk,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,NaN,Dairy
29480,1000,2014-06-24,pastry,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,0.0,ProcessedFood
32851,1000,2014-06-24,salty snack,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,0.0,Snacks
4843,1000,2015-03-15,sausage,2015,3,15,Sunday,Spring,2015-03,11,1,False,False,True,74,False,264.0,Meat
8395,1000,2015-03-15,whole milk,2015,3,15,Sunday,Spring,2015-03,11,1,False,False,True,74,False,0.0,Dairy

In [271]:
# 거래별(트랜잭션별) 카테고리 개수
category_count = df.groupby(['Member_number', 'Date'])['ItemCategory'].nunique().reset_index(name='NumCategories')
df = df.merge(category_count, on=['Member_number', 'Date'])
df.head()

,Member_number,Date,itemDescription,Year,Month,Day,Weekday,Season,YearMonth,WeekOfYear,Quarter,IsMonthStart,IsMonthEnd,IsWeekend,DayOfYear,IsHoliday,PrevPurchaseDelta,ItemCategory,NumCategories
0,1000,2014-06-24,whole milk,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,NaN,Dairy,3
1,1000,2014-06-24,pastry,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,0.0,ProcessedFood,3
2,1000,2014-06-24,salty snack,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,0.0,Snacks,3
3,1000,2015-03-15,sausage,2015,3,15,Sunday,Spring,2015-03,11,1,False,False,True,74,False,264.0,Meat,3
4,1000,2015-03-15,whole milk,2015,3,15,Sunday,Spring,2015-03,11,1,False,False,True,74,False,0.0,Dairy,3

In [272]:
# 거래별 대표 카테고리/최다 카테고리

def get_mode_category(group):
    return group['ItemCategory'].mode()[0]

mode_cat = df.groupby(['Member_number', 'Date']).apply(get_mode_category).reset_index(name='MainCategory')
df = df.merge(mode_cat, on=['Member_number', 'Date'])

df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_3236\3338024650.py:6: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  mode_cat = df.groupby(['Member_number', 'Date']).apply(get_mode_category).reset_index(name='MainCategory')

,Member_number,Date,itemDescription,Year,Month,Day,Weekday,Season,YearMonth,WeekOfYear,Quarter,IsMonthStart,IsMonthEnd,IsWeekend,DayOfYear,IsHoliday,PrevPurchaseDelta,ItemCategory,NumCategories,MainCategory
0,1000,2014-06-24,whole milk,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,NaN,Dairy,3,Dairy
1,1000,2014-06-24,pastry,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,0.0,ProcessedFood,3,Dairy
2,1000,2014-06-24,salty snack,2014,6,24,Tuesday,Summer,2014-06,26,2,False,False,False,175,False,0.0,Snacks,3,Dairy
3,1000,2015-03-15,sausage,2015,3,15,Sunday,Spring,2015-03,11,1,False,False,True,74,False,264.0,Meat,3,Dairy
4,1000,2015-03-15,whole milk,2015,3,15,Sunday,Spring,2015-03,11,1,False,False,True,74,False,0.0,Dairy,3,Dairy

In [273]:
# 카테고리별 재구매주기 피처 생성
df['Date'] = pd.to_datetime(df['Date'])

# 고객-카테고리별 구매 날짜만 추출 (중복 제거)
df_cat = df[['Member_number', 'ItemCategory', 'Date']].drop_duplicates()

# 고객-카테고리별로 구매 날짜를 정렬 후, 날짜 차이 계산
df_cat['CategoryPurchaseDelta'] = df_cat.sort_values('Date').groupby(['Member_number', 'ItemCategory'])['Date'].diff().dt.days

# 원래 데이터와 합치고 싶으면 merge
df = df.merge(df_cat[['Member_number', 'ItemCategory', 'Date', 'CategoryPurchaseDelta']],
            on=['Member_number', 'ItemCategory', 'Date'],
            how='left')

df.head()

,Member_number,Date,itemDescription,Year,Month,Day,Weekday,Season,YearMonth,WeekOfYear,...,IsMonthStart,IsMonthEnd,IsWeekend,DayOfYear,IsHoliday,PrevPurchaseDelta,ItemCategory,NumCategories,MainCategory,CategoryPurchaseDelta
0,1000,2014-06-24,whole milk,2014,6,24,Tuesday,Summer,2014-06,26,...,False,False,False,175,False,NaN,Dairy,3,Dairy,NaN
1,1000,2014-06-24,pastry,2014,6,24,Tuesday,Summer,2014-06,26,...,False,False,False,175,False,0.0,ProcessedFood,3,Dairy,NaN
2,1000,2014-06-24,salty snack,2014,6,24,Tuesday,Summer,2014-06,26,...,False,False,False,175,False,0.0,Snacks,3,Dairy,NaN
3,1000,2015-03-15,sausage,2015,3,15,Sunday,Spring,2015-03,11,...,False,False,True,74,False,264.0,Meat,3,Dairy,NaN
4,1000,2015-03-15,whole milk,2015,3,15,Sunday,Spring,2015-03,11,...,False,False,True,74,False,0.0,Dairy,3,Dairy,264.0

In [274]:
# 품목 단위(아이템 단위) 연관분석
transactions_item = df.groupby(['Member_number', 'Date'])['itemDescription'].apply(list).tolist()

In [275]:
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
te_ary = te.fit(transactions_item).transform(transactions_item)
df_matrix = pd.DataFrame(te_ary, columns=te.columns_)
df_matrix

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14958,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
14959,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14960,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14961,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14962,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [276]:
from mlxtend.frequent_patterns import apriori, association_rules
frequent_itemsets = apriori(df_matrix, min_support=0.001, use_colnames=True)
frequent_itemsets

      support                           itemsets
0    0.004010            (Instant food products)
1    0.021386                         (UHT-milk)
2    0.001470                 (abrasive cleaner)
3    0.001938                 (artif. sweetener)
4    0.008087                    (baking powder)
..        ...                                ...
745  0.001136  (rolls/buns, whole milk, sausage)
746  0.001002     (rolls/buns, whole milk, soda)
747  0.001337   (rolls/buns, whole milk, yogurt)
748  0.001069        (whole milk, sausage, soda)
749  0.001470      (whole milk, sausage, yogurt)

[750 rows x 2 columns]

In [277]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.001)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(bottled water),(UHT-milk),0.060683,0.021386,0.001069,0.017621,0.823954,1.0,-0.000228,0.996168,-0.185312,0.013201,-0.003847,0.033811
1,(UHT-milk),(bottled water),0.021386,0.060683,0.001069,0.050000,0.823954,1.0,-0.000228,0.988755,-0.179204,0.013201,-0.011373,0.033811
2,(UHT-milk),(other vegetables),0.021386,0.122101,0.002139,0.100000,0.818993,1.0,-0.000473,0.975443,-0.184234,0.015130,-0.025175,0.058758
3,(other vegetables),(UHT-milk),0.122101,0.021386,0.002139,0.017515,0.818993,1.0,-0.000473,0.996060,-0.201119,0.015130,-0.003956,0.058758
4,(rolls/buns),(UHT-milk),0.110005,0.021386,0.001804,0.016403,0.767013,1.0,-0.000548,0.994934,-0.254457,0.013925,-0.005092,0.050389
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,"(yogurt, whole milk)",(sausage),0.011161,0.060349,0.001470,0.131737,2.182917,1.0,0.000797,1.082219,0.548014,0.020992,0.075973,0.078050
1234,"(yogurt, sausage)",(whole milk),0.005748,0.157923,0.001470,0.255814,1.619866,1.0,0.000563,1.131541,0.384877,0.009065,0.116250,0.132562
1235,(whole milk),"(yogurt, sausage)",0.157923,0.005748,0.001470,0.009310,1.619866,1.0,0.000563,1.003596,0.454430,0.009065,0.003583,0.132562
1236,(sausage),"(yogurt, whole milk)",0.060349,0.011161,0.001470,0.024363,2.182917,1.0,0.000797,1.013532,0.576701,0.020992,0.013351,0.078050
1237,(yogurt),"(sausage, whole milk)",0.085879,0.008955,0.001470,0.017121,1.911760,1.0,0.000701,1.008307,0.521727,0.015748,0.008239,0.090650

In [278]:
top_rules = rules.sort_values('lift', ascending=False).head(50)
top_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
1233,"(yogurt, whole milk)",(sausage),0.011161,0.060349,0.001470,0.131737,2.182917,1.0,0.000797,1.082219,0.548014,0.020992,0.075973,0.078050
1236,(sausage),"(yogurt, whole milk)",0.060349,0.011161,0.001470,0.024363,2.182917,1.0,0.000797,1.013532,0.576701,0.020992,0.013351,0.078050
1232,"(sausage, whole milk)",(yogurt),0.008955,0.085879,0.001470,0.164179,1.911760,1.0,0.000701,1.093681,0.481231,0.015748,0.085657,0.090650
1237,(yogurt),"(sausage, whole milk)",0.085879,0.008955,0.001470,0.017121,1.911760,1.0,0.000701,1.008307,0.521727,0.015748,0.008239,0.090650
475,(citrus fruit),(specialty chocolate),0.053131,0.015973,0.001403,0.026415,1.653762,1.0,0.000555,1.010726,0.417500,0.020731,0.010612,0.057141
474,(specialty chocolate),(citrus fruit),0.015973,0.053131,0.001403,0.087866,1.653762,1.0,0.000555,1.038081,0.401735,0.020731,0.036684,0.057141
1234,"(yogurt, sausage)",(whole milk),0.005748,0.157923,0.001470,0.255814,1.619866,1.0,0.000563,1.131541,0.384877,0.009065,0.116250,0.132562
1235,(whole milk),"(yogurt, sausage)",0.157923,0.005748,0.001470,0.009310,1.619866,1.0,0.000563,1.003596,0.454430,0.009065,0.003583,0.132562
619,(tropical fruit),(flour),0.067767,0.009757,0.001069,0.015779,1.617141,1.0,0.000408,1.006118,0.409366,0.013986,0.006081,0.062684
618,(flour),(tropical fruit),0.009757,0.067767,0.001069,0.109589,1.617141,1.0,0.000408,1.046969,0.385385,0.013986,0.044862,0.062684
91,(beverages),(sausage),0.016574,0.060349,0.001537,0.092742,1.536764,1.0,0.000537,1.035704,0.355168,0.020390,0.034474,0.059106
90,(sausage),(beverages),0.060349,0.016574,0.001537,0.025471,1.536764,1.0,0.000537,1.009129,0.371714,0.020390,0.009046,0.059106
1230,(sausage),"(whole milk, soda)",0.060349,0.011629,0.001069,0.017719,1.523708,1.0,0.000368,1.006200,0.365781,0.015080,0.006162,0.054836
1227,"(whole milk, soda)",(sausage),0.011629,0.060349,0.001069,0.091954,1.523708,1.0,0.000368,1.034806,0.347750,0.015080,0.033635,0.054836
847,(napkins),(pastry),0.022121,0.051728,0.001738,0.078550,1.518529,1.0,0.000593,1.029109,0.349192,0.024096,0.028285,0.056071
846,(pastry),(napkins),0.051728,0.022121,0.001738,0.033592,1.518529,1.0,0.000593,1.011869,0.360095,0.024096,0.011730,0.056071
1024,(processed cheese),(root vegetables),0.010158,0.069572,0.001069,0.105263,1.513019,1.0,0.000363,1.039891,0.342549,0.013594,0.038360,0.060316
1025,(root vegetables),(processed cheese),0.069572,0.010158,0.001069,0.015370,1.513019,1.0,0.000363,1.005293,0.364423,0.013594,0.005265,0.060316
751,(pip fruit),(hard cheese),0.049054,0.014703,0.001069,0.021798,1.482586,1.0,0.000348,1.007254,0.342294,0.017058,0.007201,0.047263
750,(hard cheese),(pip fruit),0.014703,0.049054,0.001069,0.072727,1.482586,1.0,0.000348,1.025530,0.330360,0.017058,0.024894,0.047263
1142,(yogurt),(soft cheese),0.085879,0.010025,0.001270,0.014786,1.474952,1.0,0.000409,1.004833,0.352264,0.013418,0.004809,0.070726
1143,(soft cheese),(yogurt),0.010025,0.085879,0.001270,0.126667,1.474952,1.0,0.000409,1.046704,0.325273,0.013418,0.044620,0.070726
551,(curd),(sausage),0.033683,0.060349,0.002941,0.087302,1.446615,1.0,0.000908,1.029531,0.319493,0.032282,0.028684,0.068014
550,(sausage),(curd),0.060349,0.033683,0.002941,0.048726,1.446615,1.0,0.000908,1.015814,0.328559,0.032282,0.015568,0.068014
586,(yogurt),(detergent),0.085879,0.008621,0.001069,0.012451,1.444261,1.0,0.000329,1.003878,0.336503,0.011445,0.003863,0.068241
587,(detergent),(yogurt),0.008621,0.085879,0.001069,0.124031,1.444261,1.0,0.000329,1.043555,0.310280,0.011445,0.041737,0.068241
203,(sugar),(bottled water),0.017710,0.060683,0.001470,0.083019,1.368074,1.0,0.000396,1.024358,0.273896,0.019114,0.023779,0.053624
202,(bottled water),(sugar),0.060683,0.017710,0.001470,0.024229,1.368074,1.0,0.000396,1.006681,0.286427,0.019114,0.006636,0.053624
365,(canned beer),(white bread),0.046916,0.023993,0.001537,0.032764,1.365573,1.0,0.000411,1.009068,0.280885,0.022158,0.008987,0.048415
364,(white bread),(canned beer),0.023993,0.046916,0.001537,0.064067,1.365573,1.0,0.000411,1.018325,0.274288,0.022158,0.017995,0.048415
216,(brown bread),(canned beer),0.037626,0.046916,0.002406,0.063943,1.362937,1.0,0.000641,1.018191,0.276701,0.029292,0.017866,0.057613
217,(canned beer),(brown bread),0.046916,0.037626,0.002406,0.051282,1.362937,1.0,0.000641,1.014394,0.279398,0.029292,0.014190,0.057613
383,(chewing gum),(yogurt),0.012030,0.085879,0.001403,0.116667,1.358508,1.0,0.000370,1.034855,0.267112,0.014543,0.033681,0.066505
382,(yogurt),(chewing gum),0.085879,0.012030,0.001403,0.016342,1.358508,1.0,0.000370,1.004384,0.288691,0.014543,0.004365,0.066505
1208,"(rolls/buns, whole milk)",(sausage),0.013968,0.060349,0.001136,0.081340,1.347825,1.0,0.000293,1.022849,0.261720,0.015525,0.022339,0.050083
1213,(sausage),"(rolls/buns, whole milk)",0.060349,0.013968,0.001136,0.018826,1.347825,1.0,0.000293,1.004952,0.274638,0.015525,0.004927,0.050083
1212,(whole milk),"(rolls/buns, sausage)",0.157923,0.005347,0.001136,0.007194,1.345594,1.0,0.000292,1.001861,0.305000,0.007007,0.001858,0.109847
1209,"(rolls/buns, sausage)",(whole milk),0.005347,0.157923,0.001136,0.212500,1.345594,1.0,0.000292,1.069304,0.258214,0.007007,0.064813,0.109847
1094,(sausage),(sliced cheese),0.060349,0.014035,0.001136,0.018826,1.341407,1.0,0.000289,1.004883,0.270860,0.015511,0.004860,0.049889
1095,(sliced cheese),(sausage),0.014035,0.060349,0.001136,0.080952,1.341407,1.0,0.000289,1.022418,0.258137,0.015511,0.021927,0.049889
37,(beef),(frozen vegetables),0.033950,0.028002,0.001270,0.037402,1.335656,1.0,0.000319,1.009764,0.260136,0.020925,0.009670,0.041374
36,(frozen vegetables),(beef),0.028002,0.033950,0.001270,0.045346,1.335656,1.0,0.000319,1.011937,0.258544,0.020925,0.011796,0.041374
627,(margarine),(frankfurter),0.032213,0.037760,0.001604,0.049793,1.318665,1.0,0.000388,1.012663,0.249701,0.023460,0.012505,0.046135
626,(frankfurter),(margarine),0.037760,0.032213,0.001604,0.042478,1.318665,1.0,0.000388,1.010720,0.251140,0.023460,0.010607,0.046135
1023,(processed cheese),(rolls/buns),0.010158,0.110005,0.001470,0.144737,1.315734,1.0,0.000353,1.040610,0.242430,0.012387,0.039025,0.079051
1022,(rolls/buns),(processed cheese),0.110005,0.010158,0.001470,0.013366,1.315734,1.0,0.000353,1.003251,0.269628,0.012387,0.003240,0.079051
306,(citrus fruit),(candy),0.053131,0.014369,0.001002,0.018868,1.313120,1.0,0.000239,1.004586,0.251835,0.015075,0.004565,0.044318
307,(candy),(citrus fruit),0.014369,0.053131,0.001002,0.069767,1.313120,1.0,0.000239,1.017884,0.241931,0.015075,0.017570,0.044318
957,(packaged fruit/vegetables),(rolls/buns),0.008488,0.110005,0.001203,0.141732,1.288421,1.0,0.000269,1.036967,0.225772,0.010256,0.035649,0.076334
956,(rolls/buns),(packaged fruit/vegetables),0.110005,0.008488,0.001203,0.010936,1.288421,1.0,0.000269,1.002475,0.251525,0.010256,0.002469,0.076334

In [279]:
print(top_rules['antecedents'].head())
print(type(top_rules['antecedents'].iloc[0]))

1233     (yogurt, whole milk)
1236                (sausage)
1232    (sausage, whole milk)
1237                 (yogurt)
475            (citrus fruit)
Name: antecedents, dtype: object
<class 'frozenset'>

In [280]:
def clean_antecedent(x):
    if pd.isna(x):
        return ""
    # 집합/리스트/튜플이면 join
    if isinstance(x, (set, frozenset, list, tuple)):
        return ', '.join(map(str, x))
    # 문자열이면 양옆 괄호/중괄호/공백/따옴표 제거
    s = str(x).strip("(){} []'")
    # 쉼표 뒤쪽 공백도 정리
    return ', '.join([i.strip(" '\"") for i in s.split(',') if i.strip()])

top_rules['antecedents'] = top_rules['antecedents'].apply(clean_antecedent)
top_rules['consequents'] = top_rules['consequents'].apply(clean_antecedent)
print(top_rules['antecedents'].head())
print(type(top_rules['antecedents'].iloc[0]))

1233     yogurt, whole milk
1236                sausage
1232    sausage, whole milk
1237                 yogurt
475            citrus fruit
Name: antecedents, dtype: object
<class 'str'>

In [281]:
save_path = os.path.abspath(os.path.join(os.getcwd(), "..", "data", "top50_item_association_rules.csv"))
top_rules.to_csv(save_path, index=False, encoding='utf-8-sig')

In [282]:
print(df.columns)

Index(['Member_number', 'Date', 'itemDescription', 'Year', 'Month', 'Day',
       'Weekday', 'Season', 'YearMonth', 'WeekOfYear', 'Quarter',
       'IsMonthStart', 'IsMonthEnd', 'IsWeekend', 'DayOfYear', 'IsHoliday',
       'PrevPurchaseDelta', 'ItemCategory', 'NumCategories', 'MainCategory',
       'CategoryPurchaseDelta'],
      dtype='object')

In [283]:
# 카테고리 단위 연관분석
transactions_category = df.groupby(['Member_number', 'Date'])['ItemCategory'].apply(list).tolist()

In [284]:
# 1. 트랜잭션 리스트 생성 (카테고리 단위)
transactions_category = df.groupby(['Member_number', 'Date'])['ItemCategory'].apply(list).tolist()

# 2. One-hot 인코딩
te = TransactionEncoder()
te_ary = te.fit(transactions_category).transform(transactions_category)
df_cat_matrix = pd.DataFrame(te_ary, columns=te.columns_)

# 3. apriori로 빈발 카테고리셋 추출
frequent_catsets = apriori(df_cat_matrix, min_support=0.001, use_colnames=True)
print("빈발 카테고리셋 개수:", len(frequent_catsets))

# 4. association_rules로 규칙 추출
rules_cat = association_rules(frequent_catsets, metric="confidence", min_threshold=0.001)
print("연관규칙 개수:", len(rules_cat))

# 5. 문자열로 전처리 (frozenset → 'Bakery, Dairy' 등)
def set_to_str(x):
    if isinstance(x, (set, frozenset, list, tuple)):
        return ', '.join(sorted(map(str, x)))
    else:
        return str(x)

rules_cat['antecedents'] = rules_cat['antecedents'].apply(set_to_str)
rules_cat['consequents'] = rules_cat['consequents'].apply(set_to_str)

# 6. 상위 20개 lift 기준 추출
top20_cat = rules_cat.sort_values('lift', ascending=False).head(20)

# 7. csv 저장 (Tableau에서 사용 가능)
save_cat_path = os.path.abspath(os.path.join(os.getcwd(), "..", "data", "top20_cat_association_rules.csv"))
top20_cat.to_csv(save_cat_path, index=False, encoding='utf-8-sig')

빈발 카테고리셋 개수: 374
연관규칙 개수: 2126

In [285]:
# 복합 관점(품목+카테고리 조합 등)
df['ItemCatCombo'] = df['ItemCategory'] + ':' + df['itemDescription']
transactions_combo = df.groupby(['Member_number', 'Date'])['ItemCatCombo'].apply(list).tolist()

In [286]:
te = TransactionEncoder()
te_ary = te.fit(transactions_combo).transform(transactions_combo)
df_combo_matrix = pd.DataFrame(te_ary, columns=te.columns_)

In [287]:
frequent_combosets = apriori(df_combo_matrix, min_support=0.001, use_colnames=True)
print("빈발 복합 아이템셋 개수:", len(frequent_combosets))

빈발 복합 아이템셋 개수: 750

In [288]:
rules_combo = association_rules(frequent_combosets, metric="confidence", min_threshold=0.001)
print("연관규칙 개수:", len(rules_combo))

연관규칙 개수: 1238

In [289]:
def set_to_str(x):
    if isinstance(x, (set, frozenset, list, tuple)):
        return ', '.join(sorted(map(str, x)))
    else:
        return str(x)

rules_combo['antecedents'] = rules_combo['antecedents'].apply(set_to_str)
rules_combo['consequents'] = rules_combo['consequents'].apply(set_to_str)
top20_combo = rules_combo.sort_values('lift', ascending=False).head(20)

save_com_path = os.path.abspath(os.path.join(os.getcwd(), "..", "data", "top20_com_association_rules.csv"))
top20_combo.to_csv(save_com_path, index=False, encoding='utf-8-sig')

In [290]:
all_weekday_rules = []

for wd in df['Weekday'].unique():
    df_wd = df[df['Weekday'] == wd]
    transactions_wd = df_wd.groupby(['Member_number', 'Date'])['ItemCatCombo'].apply(list).tolist()
    if not transactions_wd: continue

    te = TransactionEncoder()
    te_ary = te.fit(transactions_wd).transform(transactions_wd)
    df_matrix = pd.DataFrame(te_ary, columns=te.columns_)

    frequent_sets = apriori(df_matrix, min_support=0.001, use_colnames=True)
    if frequent_sets.empty: continue

    rules = association_rules(frequent_sets, metric="confidence", min_threshold=0.001)
    if rules.empty: continue

    # frozenset/string 변환
    rules['antecedents'] = rules['antecedents'].apply(lambda x: ', '.join(sorted(map(str, x))) if isinstance(x, (set, frozenset, list, tuple)) else str(x))
    rules['consequents'] = rules['consequents'].apply(lambda x: ', '.join(sorted(map(str, x))) if isinstance(x, (set, frozenset, list, tuple)) else str(x))

    top20 = rules.sort_values('lift', ascending=False).head(20)
    top20['Weekday'] = wd    # ★ 요일 컬럼 추가
    all_weekday_rules.append(top20)

# 하나의 DataFrame으로 합침
all_weekday_rules_df = pd.concat(all_weekday_rules, ignore_index=True)
all_weekday_rules_df = all_weekday_rules_df.sort_values('lift', ascending=False).head(20)
save_weekday_path = os.path.abspath(os.path.join(os.getcwd(), "..", "data", "top20_weekday_association_rules.csv"))
all_weekday_rules_df.to_csv(save_weekday_path, index=False, encoding='utf-8-sig')

In [291]:
all_month_rules = []

for m in df['Month'].unique():
    df_m = df[df['Month'] == m]
    transactions_m = df_m.groupby(['Member_number', 'Date'])['ItemCatCombo'].apply(list).tolist()
    if not transactions_m: continue

    te = TransactionEncoder()
    te_ary = te.fit(transactions_m).transform(transactions_m)
    df_matrix = pd.DataFrame(te_ary, columns=te.columns_)

    frequent_sets = apriori(df_matrix, min_support=0.001, use_colnames=True)
    if frequent_sets.empty: continue

    rules = association_rules(frequent_sets, metric="confidence", min_threshold=0.001)
    if rules.empty: continue

    rules['antecedents'] = rules['antecedents'].apply(lambda x: ', '.join(sorted(map(str, x))) if isinstance(x, (set, frozenset, list, tuple)) else str(x))
    rules['consequents'] = rules['consequents'].apply(lambda x: ', '.join(sorted(map(str, x))) if isinstance(x, (set, frozenset, list, tuple)) else str(x))

    top20 = rules.sort_values('lift', ascending=False).head(20)
    top20['Month'] = m     # ★ 월 컬럼 추가
    all_month_rules.append(top20)

all_month_rules_df = pd.concat(all_month_rules, ignore_index=True)
all_month_rules_df = all_month_rules_df.sort_values('lift', ascending=False).head(20)
save_months_path = os.path.abspath(os.path.join(os.getcwd(), "..", "data", "top20_months_association_rules.csv"))
all_month_rules_df.to_csv(save_months_path, index=False, encoding='utf-8-sig')

In [292]:
all_season_rules = []

for s in df['Season'].unique():
    df_s = df[df['Season'] == s]
    transactions_s = df_s.groupby(['Member_number', 'Date'])['ItemCatCombo'].apply(list).tolist()
    if not transactions_s: continue

    te = TransactionEncoder()
    te_ary = te.fit(transactions_s).transform(transactions_s)
    df_matrix = pd.DataFrame(te_ary, columns=te.columns_)

    frequent_sets = apriori(df_matrix, min_support=0.001, use_colnames=True)
    if frequent_sets.empty: continue

    rules = association_rules(frequent_sets, metric="confidence", min_threshold=0.001)
    if rules.empty: continue

    rules['antecedents'] = rules['antecedents'].apply(lambda x: ', '.join(sorted(map(str, x))) if isinstance(x, (set, frozenset, list, tuple)) else str(x))
    rules['consequents'] = rules['consequents'].apply(lambda x: ', '.join(sorted(map(str, x))) if isinstance(x, (set, frozenset, list, tuple)) else str(x))

    top20 = rules.sort_values('lift', ascending=False).head(20)
    top20['Season'] = s     # ★ 계절 컬럼 추가
    all_season_rules.append(top20)

all_season_rules_df = pd.concat(all_season_rules, ignore_index=True)
all_season_rules_df = all_season_rules_df.sort_values('lift', ascending=False).head(20)
save_seasons_path = os.path.abspath(os.path.join(os.getcwd(), "..", "data", "top20_seasons_association_rules.csv"))
all_season_rules_df.to_csv(save_seasons_path, index=False, encoding='utf-8-sig')